- content_for :head do
    %title= "Receptbasen - #{@profile.name}"
    %meta{ :property => "og:title", :content => "Receptbasen - #{@profile.name}" }
    %meta{ :property => "og:type", :content => "website" }
    %meta{ :property => "og:url", :content => "https://receptbasen.se/profile/#{@profile.id}" }
    %meta{ :property => "og:image", :content => @profile.avatar_url }
    %script{ :src => "/js/navHelper.js?dkfjaölksdjf", :defer => true }
    %script{ :src => "/js/collectionHelper.js", :defer => true }
    %script{ :src => "/js/recipeHelper.js", :defer => true }

.profile
    != haml :"profile/_profile_intro", :locals => { :profile => @profile }
    .profile-nav
        .profile-nav-content
            #activeDisplay
            %a.profile-content-nav-item{ :href => "/profile/#{@profile.id}?tab=bookmarks", :class => "#{'active' if @tab == 'bookmarks'}" } Sparade recept
            %a.profile-content-nav-item{ :href => "/profile/#{@profile.id}?tab=groups", :class => "#{'active' if @tab == 'groups'}" } Grupper
    .profile-content
        - if @tab == 'bookmarks'
            != haml :"profile/_bookmarks", :locals => { :profile => @profile, :bookmarks => @bookmarks }
        - elsif @tab == 'groups'
            != haml :"profile/_groups", :locals => { :profile => @profile, :groups => @groups }