-# _comment.haml
.comment{ data: { comment_id: comment.id } }
  .comment-content
    .comment-header
      %a.username{ :href => "/profile/#{comment.owner.id}" }= h comment.owner.name
      %span.timestamp= "#{time_ago_in_words(comment.created_at)}"
    .comment-body
      %p= h comment.content
    .comment-actions
      %button.comment-btn.reply-btn{ :title => "Svara"}
        %img{ :src => "/assets/svg/reply.svg" }
      - if comment.owner_id == @user.id
        %button.comment-btn.delete-btn{ :title => "Ta bort"}
          %img{ :src => "/assets/svg/trash_bin.svg" }
          

  - if !comment[:children].nil? && comment[:children].any?
    .nested-comments
      - comment[:children].each do |reply|
        != haml :'comments/_comment', locals: { comment: reply }