<!DOCTYPE html>
%html{ :lang => "sv"}
  %head
    %link{ :rel => "stylesheet", :href => "/styles.css?#{Time.now}" }
    %link{ rel: "preconnect", href: "https://fonts.googleapis.com" }
    %link{ rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true }
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" }
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/css2?family=Lobster&display=swap" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %script{ :src => "/js/searchHelper.js?#{Time.now}", :defer => true }
    %script{ :src => "https://kit.fontawesome.com/e3620f2009.js", :crossorigin => "anonymous" }
    = yield_content :head
  %body
    != haml :_header
    %main
      != haml :_save_modal
      != yield
    != haml :_footer