- if @invites.any?
    %table
        %thead
            %tr
                %th L채nk
                %th G책r ut
                %th Anv채ndningar kvar
                %th Skapad av
        %tbody
            - @invites.each do |invite|
                %tr
                    %td= "https://localhost:9292/invite/#{invite[:invite].token}"
                    %td= invite[:invite].expires_at
                    %td= invite[:invite].uses_left
                    %td= invite[:owner].nil? ? "" : invite[:owner].name

%form{ :method => "get", :action => "/invites/new" }
    %input{ :type => "hidden", :name => "group_id", :value => @group.id }
    %input{ :type => "submit", :value => "Skapa inbjudningsl채nk" }