- content_for :head do
    %title= "Receptbasen - Inbjudningslänkar"
    %meta{ :property => "og:title", :content => "Receptbasen - Inbjudningslänkar" }

%h2.page-title Inbjudningslänkar

- if @invites.any?
    %table
        %thead
            %tr
                %th Länk
                %th Skapad
                %th Går ut
                %th Användningar kvar
        %tbody
            - @invites.each do |invite|
                %tr
                    %td= "https://localhost:9292/invite/#{invite.token}"
                    %td= invite.created_at
                    %td= invite.expires_at
                    %td= invite.uses_left

%form{ :method => "get", :action => "/invites/new" }
    %input{ :type => "hidden", :name => "group_id", :value => @group.id }
    %input{ :type => "submit", :value => "Skapa inbjudningslänk" }