- content_for :head do
    %title= "Receptbasen - #{@group.name}"
    %meta{ :property => "og:title", :content => "Receptbasen - #{@group.name}" }
    %meta{ :property => "og:type", :content => "website" }
    %meta{ :property => "og:url", :content => "https://receptbasen.se/groups/#{@group.name}" }

.group
    != haml :"groups/_group_intro", :locals => { :group => @group }
    .group-content
        .group-content-nav
            %a{ :href => "/groups/#{@group.id}?tab=recipes", :class => "group-content-nav-item #{'active' if @tab == 'recipes'}" } Saved Recipes
            %a{ :href => "/groups/#{@group.id}?tab=members", :class => "profile-content-nav-item #{'active' if @tab == 'members'}" } Medlemmar
            %a{ :href => "/groups/#{@group.id}?tab=invites", :class => "profile-content-nav-item #{'active' if @tab == 'invites'}" } Inbjudningslänkar
        