.card-container
    .card
        .img-wrapper
            %a{ :href => "/recipes/#{recipe.id}" }
                %img.card-image{ :src => recipe.image_url }
            .btn-container
                %a.recipe-brief-round-btn{ :title => "Läs hela receptet", :href => recipe.url, :target => "_blank" }
                    %img.btn-icon{ :src => "/assets/svg/external-link.svg" }
                %button.recipe-brief-round-btn{ :title => "Spara", :data => { :recipeid => recipe.id } }
                    %img.btn-icon{ :src => "/assets/svg/bookmark#{"-fill" if is_saved?(recipe.id)}.svg" }
        .card-content
            .card-title= recipe.title
            .card-subtitle
                .card-subtitle-box
                    %img.icon{ :src => "/assets/svg/time.svg" }
                    = recipe.time + " min"
                .card-subtitle-box
                    %img.icon{ :src => "/assets/svg/#{recipe.difficulty}.svg" }
                    = difficulty_display(recipe.difficulty)
            -# .card-btn-row
                -# %a.card-btn.card-btn--secondary{ :title => "Mer information", :href => "/recipes/#{recipe.id}" } Mer info
                -# %a.card-btn.card-btn--primary{ :title => "Läs hela receptet", :href => recipe.url, :target => "_blank" }
                -#     = recipe.site_name 
                -#     %img{ :src => "/assets/svg/external-link.svg" }
